<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>To-do's</title>
</head>
<body>
<div class="container">
    <div class="row pt-4">
        <div class="col">
            <h1 class="pb-2">To-dos</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="post" action="{% url 'main:create' %}" class="pb-4">
                {% csrf_token %}
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="form-row">
                            <div class="col-md-8 pb-2 pb-md-0">
                                {{ input_form.name }}
                            </div>
                            <div class="col input-group">
                                {{ input_form.priority }}
                                <div class="input-group-append">
                                    <input type="submit" class="btn btn-outline-success" value="Create">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </form>
            <div class="row pb-4">
                <div class="col-md-5">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> Sort </span>
                        </div>
                        <select class="custom-select">
                            <option value="name">alphabetically</option>
                            <option value="priority">by priority</option>
                            <option value="date_created">by date created</option>
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary js-sort-btn" data-ordering="asc" type="button" data-toggle="tooltip" data-placement="top" title="Ascending order">
                                <span>↑</span></button>
                            <button class="btn btn-outline-secondary js-sort-btn" data-ordering="desc" type="button" data-toggle="tooltip" data-placement="top" title="Descending order">↓
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <section>
            <form id="id_task-form" method="post" action="{% url "main:list" %}">
                {% csrf_token %}
                {{ task_forms.management_form }}
                <ul class="list-group">
                    {% for task_form in task_forms %}
                        <li class="list-group-item list-group-item-action">
                            <div class="form-row individual-form">
                                {{ task_form.id }}
                                <div class="col-md-9">
                                    {{ task_form.name }}
                                    <small>Added on {{ task_form.instance.date_created }}</small>
                                </div>
                                <div class="col-md">
                                    {{ task_form.priority }}
                                </div>
                                <div class="col-md-auto justify-content-end">
                                    <button class="btn btn-outline-secondary js-delete-item"><span data-feather="trash-2"></span></button>
                                    {{ task_form.DELETE }}
                                </div>
                            </div>
                        </li>
                    {% empty %}
                        <li class="list-group-item">There are no tasks yet. Add something</li>
                    {% endfor %}
                </ul>
            </form>
            </section>
        </div>
    </div>
</div>
{% include "js-inclusions.html" %}
<script>
    function initialize() {
        $(".individual-form > div > input[type=checkbox]").each(function () {
            $(this).hide();
        });
        feather.replace();

        let $id_task_form = $("#id_task-form");
        $id_task_form.keypress(function (e) {
            //Enter key
            if (e.which === 13) {
                return false;
            }
        });

        $("body").on("change", "#id_task-form", function (event) {
            let data = $(this).serialize();
            console.log(data);
            $.ajax({
                url: this.action,
                method: "POST",
                data: data,
                success: function (data) {
                    console.log(data)
                }
            });
        });


        function toggle_bg(element, name) {
            element
                .removeClass()
                .addClass("form-control " + name);
            if (name) element.addClass("text-white");
        }

        let paint = function (event) {

            let $element = $(this);
            let backgrounds = {
                0: "bg-success",
                2: "bg-warning",
                3: "bg-danger"
            };
            toggle_bg($element, backgrounds[$element.val()]);
        };

        $(".individual-form > div > select").each(paint);
        $("body").on("change", ".individual-form > div > select", paint);
        $(".js-delete-item").click(function (event) {
            event.preventDefault();
            $(this).next("input[type='checkbox']").prop("checked", true);
            $("#id_task-form").trigger("change");
            {#$(this).parents("li").remove();#}
            let $parent_li = $(this).parents("li");
            $parent_li.fadeOut('slow');

        });


    }
    $(document).ready(function () {
        initialize();
        $(".js-sort-btn").click(function (event) {
            event.preventDefault();
            let params = $.param({
                field_name: $(this).parent().prev().val(),
                ordering: $(this).data("ordering")
            });
            $("section").load("/?" + params + " #id_task-form", initialize);
        });
    });
</script>
</body>
</html>