<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>To-do's</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-3">
            <h1 class="pb-2">To-do's</h1>

        </div>
    </div>
    <div class="row align-items-center pb-4">
        <div class="col-auto">
            Sort
        </div>
        <div class="col">
            <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-outline-primary">
                    <input type="checkbox" checked autocomplete="off"> alphabetically
                </label>
                <label class="btn btn-outline-primary">
                    <input type="checkbox" checked autocomplete="off"> by priority
                </label>
                <label class="btn btn-outline-primary">
                    <input type="checkbox" checked autocomplete="off"> by date created
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="post" action="{% url 'main:create' %}">
                <ul class="list-group">
                    {% csrf_token %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-10">
                                {{ input_form.name }}
                            </div>
                            <div class="col">
                                {{ input_form.priority }}
                            </div>
                        </div>
                    </li>
                </ul>
            </form>
            <form id="id_task-form" method="post" action="{% url "main:list" %}">
                <ul class="list-group">
                    {% csrf_token %}
                    {{ task_forms.management_form }}
                    {% for task_form in task_forms %}
                        <li class="list-group-item list-group-item-action">
                            <div class="row">
                                {{ task_form.id }}
                                <div class="col-10">
                                    {{ task_form.name }}
                                </div>
                                <div class="col">
                                    {{ task_form.priority }}
                                </div>
                            </div>
                        </li>
                    {% empty %}
                        <li class="list-group-item">There are no tasks yet. Add something</li>
                    {% endfor %}
                </ul>
            </form>
        </div>
    </div>
</div>
{% include "js-inclusions.html" %}
<script>
    $(document).ready(function () {
        $("#id_task-form").change(function (event) {
            let data = $(this).serialize();
            $.ajax({
                url: this.action,
                method: "POST",
                data: data,
                success: function (data) {
                    console.log(data);
                }
            });
        });


        function toggle_bg(element, name) {
            element
                .removeClass()
                .addClass("form-control " + name);
            if (name) element.addClass("text-white");
        }

        let paint = function (event) {

            let $element = $(this);
            let backgrounds = {
                0: "bg-success",
                2: "bg-warning",
                3: "bg-danger"
            };
            toggle_bg($element, backgrounds[$element.val()]);
        };

        $("select").each(paint);
        $("select").on("change", paint);
    });
</script>
</body>
</html>