<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>To-do's</title>
</head>
<body>
<div class="container">
    <h1>To-do's</h1>
    <ul class="list-group">
        <li class="list-group-item"><input type="text" class="form-control" placeholder="I need to..."></li>
        <li class="list-group-item list-group-item-action">
            <span class="subject">
                <span class="js-text"> subject </span>
                <input type="text" class="js-input form-control" style="display: none;">
            </span>
        </li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script>
    function showInput() {
        $(this).off('click');
        $(this).siblings('input').each(function () {
            $(this).show();
        });
        $(this).siblings('input').focus();
        $(this).hide();
    }

    function hideInput() {
        $(this).hide();
        $(this).siblings('span').show();
        $(this).siblings('span').click(showInput);
    }

    $(function () {
        $('.js-text').click(showInput);
        $('.js-input').blur(hideInput);
    })
</script>
</body>
</html>